<h2>Your Confirmed Bets</h2>

<table class="table table-striped col-md-12" id="bets">
  <thead>
    <tr>
	    <th>Home Team</th>
	    <th>Away Team</th>
	    <th>Time & Date</th>
      <th>Home Money Line</th>
      <th>Away Money Line</th>
      <th>Amount</th>
      <th>Betting On</th>
      <th>Betting Against</th>
    </tr>
  </thead>
  <tbody>
    <% @user_bets.each do |odd| %>
      <% if odd.status == 'confirmed' %>
      <tr>
        <td>
          <%= odd.home_team_name%>
        </td>
        <td>
          <%= odd.away_team_name%>
        </td>
        <td>
          <%= odd.date%>
        </td>
        <td>
          <%= odd.home_money_line%>
        </td>
        <td>
          <%= odd.away_money_line%>
        </td>
        <td>
         <%= odd.amount%>
        </td>

        <% if !(current_user.name == odd.user_two_name) %>
          <td>
            <%= odd.betting_on %>
          </td>
        <%end%>
        <% if (current_user.name == odd.user_two_name) %>
          <% if (odd.betting_on == 'Home Team') %>
            <td>Away Team</td>
          <%end%>
          <% if (odd.betting_on == 'Away Team') %>
            <td>Home Team</td>
          <%end%>
        <%end%>

        <% if !(current_user.name == odd.user_two_name) %>
          <td>
            <%= odd.user_two_name %>
          </td>
        <%end%>
        <% if (current_user.name == odd.user_two_name) %>
          <td>
            <%= odd.user_one_name %>
          </td>
        <%end%>
        <td>
          <% if odd.toolate %>
            <%= link_to 'Cancel Bet', cancel_bet_path(odd), :class => 'btn btn-primary disabled' %>
          <%else%>
            <%= link_to 'Cancel Bet', cancel_bet_path(odd), :class => 'btn btn-primary' %>
          <% end %>
        </td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<h2>Your Proposed Bets</h2>

<table class="table table-striped col-md-12" id="bets">
  <thead>
  <tr>
    <th>Home Team</th>
    <th>Away Team</th>
    <th>Time & Date</th>
    <th>Home Money Line</th>
    <th>Away Money Line</th>
    <th>Amount</th>
    <th>Betting On</th>
    <th>Betting Against</th>
  </tr>
  </thead>
  <tbody>
  <% @user_bets.each do |odd| %>
    <% if ((odd.status == 'proposed') && (current_user.name == odd.user_one_name)) %>
    <tr>
      <td>
        <%= odd.home_team_name%>
      </td>
      <td>
        <%= odd.away_team_name%>
      </td>
      <td>
        <%= odd.date%>
      </td>
      <td>
        <%= odd.home_money_line%>
      </td>
      <td>
        <%= odd.away_money_line%>
      </td>

      <td>
        <%= odd.amount%>
      </td>
      <% if !(current_user.name == odd.user_two_name) %>
        <td>
          <%= odd.betting_on %>
        </td>
      <%end%>
      <% if (current_user.name == odd.user_two_name) %>
        <% if (odd.betting_on == 'Home Team') %>
          <td>Away Team</td>
        <%end%>
        <% if (odd.betting_on == 'Away Team') %>
          <td>Home Team</td>
        <%end%>
      <%end%>
      <% if !(current_user.name == odd.user_two_name) %>
        <td>
          <%= odd.user_two_name %>
        </td>
      <%end%>
      <% if (current_user.name == odd.user_two_name) %>
        <td>
          <%= odd.user_one_name %>
        </td>
      <%end%>
      <td>
        <%= link_to 'Cancel Bet', cancel_bet_path(odd), :class => 'btn btn-primary' %>
      </td>
    </tr>
    <% end %>
  <% end %>
  </tbody>
</table>

<h2>Your Received Bets</h2>

<table class="table table-striped col-md-12" id="bets">
  <thead>
  <tr>
    <th>Home Team</th>
    <th>Away Team</th>
    <th>Time & Date</th>
    <th>Home Money Line</th>
    <th>Away Money Line</th>
    <th>Amount</th>
    <th>Betting On</th>
    <th>Betting Against</th>
  </tr>
  </thead>
  <tbody>
  <% @user_bets.each do |odd| %>
    <% if ((odd.status == 'proposed') && (current_user.name == odd.user_two_name)) %>
    <tr>
      <td>
        <%= odd.home_team_name%>
      </td>
      <td>
        <%= odd.away_team_name%>
      </td>
      <td>
        <%= odd.date%>
      </td>
      <td>
        <%= odd.home_money_line%>
      </td>
      <td>
        <%= odd.away_money_line%>
      </td>

      <td>
        <%= odd.amount%>
      </td>

      <% if !(current_user.name == odd.user_two_name) %>
        <td>
          <%= odd.betting_on %>
        </td>
      <%end%>
      <% if (current_user.name == odd.user_two_name) %>
        <% if (odd.betting_on == 'Home Team') %>
          <td>Away Team</td>
        <%end%>
        <% if (odd.betting_on == 'Away Team') %>
          <td>Home Team</td>
        <%end%>
      <%end%>

      <% if !(current_user.name == odd.user_two_name) %>
        <td>
          <%= odd.user_two_name %>
        </td>
      <%end%>
      <% if (current_user.name == odd.user_two_name) %>
        <td>
          <%= odd.user_one_name %>
        </td>
      <%end%>
      <td>
        <%= link_to 'Cancel Bet', cancel_bet_path(odd), :class => 'btn btn-primary' %>
      </td>
      <td>
        <%= link_to 'Accept Bet', receive_bet_path(odd), :class => 'btn btn-primary' %>
      </td>
    </tr>
    <% end %>
  <% end %>
  </tbody>
</table>

<h2>Your Finished Bets</h2>

<table class="table table-striped col-md-12" id="bets">
  <thead>
  <tr>
    <th>Home Team</th>
    <th>Away Team</th>
    <th>Time & Date</th>
    <th>Home Money Line</th>
    <th>Away Money Line</th>
    <th>Amount</th>
    <th>Betting On</th>
    <th>Betting Against</th>
  </tr>
  </thead>
  <tbody>
  <% @user_bets.each do |odd| %>
    <% if odd.status == 'finished' %>
      <tr>
        <td>
          <%= odd.home_team_name%>
        </td>
        <td>
          <%= odd.away_team_name%>
        </td>
        <td>
          <%= odd.date%>
        </td>
        <td>
          <%= odd.home_money_line%>
        </td>
        <td>
          <%= odd.away_money_line%>
        </td>

        <td>
          <%= odd.amount%>
        </td>

        <% if !(current_user.name == odd.user_two_name) %>
          <td>
            <%= odd.betting_on %>
          </td>
        <%end%>
        <% if (current_user.name == odd.user_two_name) %>
          <% if (odd.betting_on == 'Home Team') %>
            <td>Away Team</td>
          <%end%>
          <% if (odd.betting_on == 'Away Team') %>
            <td>Home Team</td>
          <%end%>
        <%end%>

        <% if !(current_user.name == odd.user_two_name) %>
          <td>
            <%= odd.user_two_name %>
          </td>
        <%end%>
        <% if (current_user.name == odd.user_two_name) %>
          <td>
            <%= odd.user_one_name %>
          </td>
        <%end%>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>

<h2>Your Cancelled Bets</h2>

<table class="table table-striped col-md-12" id="bets">
  <thead>
  <tr>
    <th>Home Team</th>
    <th>Away Team</th>
    <th>Time & Date</th>
    <th>Home Money Line</th>
    <th>Away Money Line</th>
    <th>Amount</th>
    <th>Betting On</th>
    <th>Betting Against</th>
  </tr>
  </thead>
  <tbody>
  <% @user_bets.each do |odd| %>
    <% if odd.status == 'cancelled' %>
      <tr>
        <td>
          <%= odd.home_team_name%>
        </td>
        <td>
          <%= odd.away_team_name%>
        </td>
        <td>
          <%= odd.date%>
        </td>
        <td>
          <%= odd.home_money_line%>
        </td>
        <td>
          <%= odd.away_money_line%>
        </td>
        <td>
          <%= odd.amount%>
        </td>
        <% if !(current_user.name == odd.user_two_name) %>
          <td>
            <%= odd.betting_on %>
          </td>
        <%end%>
        <% if (current_user.name == odd.user_two_name) %>
          <% if (odd.betting_on == 'Home Team') %>
            <td>Away Team</td>
          <%end%>
          <% if (odd.betting_on == 'Away Team') %>
            <td>Home Team</td>
          <%end%>
        <%end%>
        <% if !(current_user.name == odd.user_two_name) %>
          <td>
            <%= odd.user_two_name %>
          </td>
        <%end%>
        <% if (current_user.name == odd.user_two_name) %>
          <td>
            <%= odd.user_one_name %>
          </td>
        <%end%>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>