<h2>Confirm Your Betting Details</h2>
<table class="table table-striped col-md-12" id="bets">
  <thead>
  <tr>
    <th>Home Team</th>
    <th>Away Team</th>
    <th>Betting Against</th>
    <th>Home Money Line</th>
    <th>Away Money Line</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      <%= @game.home_team_name %>
    </td>
    <td>
      <%= @game.away_team_name %>
    </td>
    <td>
      <%= @friend.name %>
    </td>
    <td>
      <%= @game.home_money_line %>
    </td>
    <td>
      <%= @game.away_money_line %>
    </td>

    <td>

    </td>
  </tr>
  </tbody>
</table>
<label class="form-spacing"> Balance Available for
  Betting: </label><%= " " + pluralize(@user.actualBalance - @user.balanceInEscrow, 'dollars') %>


<%= form_for Bet.new do |f| %>
  <label class="form-spacing"> Which team do you think is going to win!? </label>
  <%= f.select :betting_on, [[@game.home_team_name, 'Home Team'], [@game.away_team_name]] %>
  <br/>
  <label> Amount </label>
  <%= f.text_field :amount %>
  <%= f.hidden_field :home_team_name, value: @game.home_team_name %>
  <%= f.hidden_field :away_team_name, value: @game.away_team_name %>
  <%= f.hidden_field :home_money_line, value: @game.home_money_line %>
  <%= f.hidden_field :away_money_line, value: @game.away_money_line %>
  <%= f.hidden_field :date, value: @game.date %>
  <%= f.hidden_field :user_one_name, value: current_user.name %>
  <%= f.hidden_field :user_two_name, value: @friend.name %>
  <%= f.hidden_field :user_id_one, value: current_user.id %>
  <%= f.hidden_field :user_id_two, value: @friend.id %>
  <br/>
  <%= f.submit "Confirm Bet" %>
<% end %>