<br>
<div id="user-<%= user.id %>" class="row">
  <div class="col-lg-8">
    <%= render 'shared/avatar', user: user %>
    <h5 class="name"><%= link_to user.name, user %></h5>
  </div>
  <div class="col-lg-4">
    <div class="follow">
      <% if request.env['PATH_INFO'] =~ /\/odds\/\d+\/friends/ %>
        <%= render 'odds/form', user: user %>
      <% else %>
        <%= render 'follows/form', user: user %>
      <% end %>
    </div>
  </div>
</div>
<br>