<div id="user-info" class="well">
  <div class="text-center">
    <%= render 'shared/avatar', user: @user %><br>
    <h5><%= link_to @user.name, @user %></h5>
  </div>
  <!--  <h5>-->
  <%#= fa_icon 'shield' %>
  <%#= pluralize(@user.posts_count, 'post') %>
  <!--  </h5>-->
  <% if @user.dob.present? %>
    <h5>
      <%= fa_icon @user.sex %>
      <%= "#{pluralize(age(@user.dob), 'year')} old" %>
    </h5>
  <% end %>
  <%# if @user.location.present? %>
  <!--    <h5>-->
  <%#= fa_icon 'map-marker' %>
  <%#= @user.location %>
  <!--    </h5>-->
  <%# end %>
  <!--  <h5>-->
  <!--    <i class="icon-record"></i> <%#= pluralize(@user.points, 'point') %>-->
  <!--  </h5>-->
  <%# if @user.badges.empty? %>
  <h4>Actual Balance</h4>
  <h5><%= fa_icon 'money' %> <%= pluralize(@user.actualBalance, 'dollars') %></h5>
  <h4>Pending Bets</h4>
  <!--  <h5>-->
  <%# Bet.get_by_userid(22) %>
  <%# if bet.user_id_two != @user.id %>
  <!--      <h5>-->
  <%#= fa_icon @user.sex %>
  <%#= "#{pluralize(age(@user.dob), 'year')} old" %>
  <!--      </h5>-->
  <%# end %>
  <!--    <%# end %></h5>-->
  <h4>Available Balance</h4>
  <h5><%= fa_icon 'money' %> <%= pluralize(@user.actualBalance - @user.balanceInEscrow, 'dollars') %></h5>
  <%# else %>
  <!--    <h5>-->
  <%# @user.badges.each do |badge| %>
  <!--        <i class="<%#= badge.custom_fields[:icon] %>" style="color: <%#= badge.custom_fields[:color] %>">-->
  <!--        </i>-->
  <%#= badge.name %>
  <%# end %>
  <!--    </h5>-->
  <%# end %>
  <br>
  <div class="text-center">
    <% unless is_current_user?(@user) %>
      <%= render 'follows/form', user: @user %>
      <h6><%= 'Follows you' if current_user.followed_by?(@user) %></h6>
    <% end %>
  </div>
</div>
