<div class="follow">
  <% if user.followed_by?(current_user) %>
    <div class="form-inline">
        <%= form_tag unfollow_path(user_id: user.id), method: :post, remote: true do %>
          <div class="form-group">
            <%= text_field_tag('amount', params[:amount], :size => 8, :placeholder=> "Amount") %>
          </div>
          <div class="form-group">
            <%= button_tag 'Place Bet', class: 'btn btn-primary' %>
          </div>
    <% end %>
    </div>
<% else %>
    <%= form_tag follow_path(user_id: user.id), method: :post, remote: true do %>
      <%= button_tag 'Remove Bet', class: 'btn btn-success' %>
    <% end %>
  <% end %>
</div>