<div class="row">
  <div class="col-lg-3">
  <table class="table table-striped col-md-12" id="bets">
  <thead>
    <tr>
	    <th>Home Team</th>
	    <th>Away Team</th>
      <th>Home Money Line</th>
      <th>Away Money Line</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td>
          <%= @game.home_team_name%>
        </td>
        <td>
          <%= @game.away_team_name%>
        </td>
        <td>
          <%= @game.home_money_line%>
        </td>
        <td>
          <%= @game.away_money_line%>
        </td>

<!--        <td>-->
        <%#= link_to 'Place Bet', friends_odd_path(odd), :class => 'btn btn-primary' %>
<!--        </td>-->
      </tr>
    <%# end %>
  </tbody>
</table>
  </div>
  <div class="col-lg-6 well">
    <h3>Choose friend to place bet against</h3>
    <hr>
    <div id="friends">
      <%= render(@friends) || render('shared/no_resource', resources: 'Friends') %>
    </div>
    <%= render 'shared/paginate', resources: @friends %>
  </div>
  <div class="col-lg-3">
    <%= render 'shared/links' %>
  </div>
</div>