<h2>NBA Odds</h2>

<table class="table table-striped col-md-12" id="bets">
  <thead>
    <tr>
	    <th>Home Team</th>
	    <th>Away Team</th>
      <th>Time & Date</th>
      <th>Home Money Line</th>
      <th>Away Money Line</th>
      <th>Place Bets</th>
    </tr>
  </thead>
  <tbody>
    <% @odds.each do |odd| %>
      <% if odd.league == 'NBA' %>
      <tr>
        <td>
          <%= odd.home_team_name%>
        </td>
        <td>
          <%= odd.away_team_name%>
        <td>
          <%= odd.date %>
        </td>
        <td>
          <%= odd.home_money_line%>
        </td>
        <td>
          <%= odd.away_money_line%>
        </td>
        <td>
        <% if !odd.home_money_line  || !odd.away_money_line || odd.toolate %>
        <%= link_to 'Propose Bet', friends_odd_path(odd, id:current_user.id), :class => 'btn btn-primary disabled' %>
        <%else%>
        <%= link_to 'Propose Bet', friends_odd_path(odd), :class => 'btn btn-primary' %>
        <%end%>
        </td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<h2>NFL Odds</h2>

<table class="table table-striped col-md-12" id="bets">
  <thead>
  <tr>
    <th>Home Team</th>
    <th>Away Team</th>
    <th>Time & Date</th>
    <th>Home Money Line</th>
    <th>Away Money Line</th>
    <th>Place Bets</th>
  </tr>
  </thead>
  <tbody>
  <% @odds.each do |odd| %>
    <% if odd.league == 'NFL' %>
      <tr>
        <td>
          <%= odd.home_team_name%>
        </td>
        <td>
          <%= odd.away_team_name%>
        <td>
          <%= odd.date %>
        </td>
        <td>
          <%= odd.home_money_line%>
        </td>
        <td>
          <%= odd.away_money_line%>
        </td>
        <td>
          <% if !odd.home_money_line  || !odd.away_money_line || odd.toolate %>
            <%= link_to 'Propose Bet', friends_odd_path(odd, id:current_user.id), :class => 'btn btn-primary disabled' %>
          <%else%>
            <%= link_to 'Propose Bet', friends_odd_path(odd), :class => 'btn btn-primary' %>
          <%end%>
        </td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>